<!--{subtemplate touch/common/header}-->
<!-- header start -->
<header class="header">
    <div class="nav">
    	<div class="category" style="width:100%; text-align:center; ">
			<div class="name">
				{lang dsu_paulsign:name}
			</div>
        	<div style="width:36px; position:absolute; left:0; top:0;">
                <a href="plugin.php?id=dsu_paulsign:sign&mobile=2" class="z"><img src="{$_G['style']['styleimgdir']}/touch/common/images/icon_back.png" width="41" height="30" /></a>
            </div>
            <div class="y" style="width:36px; position:absolute; right:0; top:0;">
                <a href="home.php?mod=space&uid={$_G[uid]}&do=profile&mycenter=1"><img src="{$_G['style']['styleimgdir']}/touch/common/images/icon_center.png" width="41" height="30" /></a>
            </div>
        </div>    
    </div>
</header>
<!-- header end -->

<div class="wp">
	<div style="padding:60px 10px; text-align:center;">
		<div style="line-height:18px;">$msg</div>
        <div style="padding:18px;">
        	<div style="width:68px; height:26px; margin:0 auto; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#EF6C69; line-height:26px; text-align:center;">
        	<a href="plugin.php?id=dsu_paulsign:sign&mobile=2" style="color:#FFF;" >{lang dsu_paulsign:encore_03}</a>
            </div>
        </div>
	</div>
</div>
<!--{subtemplate touch/common/footer}-->