<table width="960" border="0" cellspacing="0" cellpadding="0">
<tbody>
	<tr>
	<td style="text-align: center;">联系站长：<a target="_blank" href="tencent://message/?uin=149779331&amp;Site=qq&amp;Menu=yes"><img style="vertical-align:middle;" border="0" src="http://wpa.qq.com/pa?p=2:149779331:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a> 淘创网官方群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=d269a8f2e525f121cc78825716d37a7b82ed0bbe543d83bef7e9257ab18ef711"><img style="vertical-align:middle;" border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="淘创网官方交流群" title="淘创网官方交流群"></a> </td>
	</tr>
    <tr>
    <td height="20" align="center">版权所有：<a title="" href="http://www.taochuangweb.com" target="_blank">淘创网</a> &nbsp;微信号：taochuangweb &nbsp;站长邮箱：taochuangweb@qq.com &nbsp;</td>
    </tr>
    <tr>
    <td align="center"><font color="#ff0000">免责声明：本站所发布的一切学习教程、软件和干货文章仅限用于学习和研究目的；不得将上述内容用于商业或者非法用途，否则，一切后果请用户自负。 以上内容全部来自网络，版权争议与本站无关，如果您认为侵犯了您的合法权益,请联系我们删除，如果您喜欢该教程，请支持正版教程软件，购买注册，得到更好的正版服务。</font></td>
    </tr>
    <tr>
    <td height="25" align="center">
        <table width="745" border="0" cellspacing="5" cellpadding="0">
            <tbody>
                <tr>
                <td width="118" align="center"><img src="static/image/common/1.png" width="118" height="48"></td> 
                <td width="118" align="center"><img src="static/image/common/2.gif" width="118" height="48"></td> 
                <td width="118" align="center"><img src="static/image/common/3.gif" width="118" height="48"></td> 
                <td width="118" align="center"><img src="static/image/common/4.gif" width="118" height="48"></td> 
                <td width="118" align="center"><img src="static/image/common/5.gif" width="118" height="48"></td> 
                <td width="118" align="center"><img src="static/image/common/7.gif" width="118" height="48"></td> 
                <td width="118" align="center"><img src="static/image/common/8.gif" width="118" height="48"></td> 
                </tr>
            </tbody>
        </table>
    </td>
    </tr>
</tbody>
</table>