@charset "gbk";
.article { padding: 10px; margin-bottom: 10px; word-wrap: break-word;}
.article * {  font-size: 18px !important; line-height: 30px; max-width: 100% !important; }
.article p { padding:0; margin: 8px 0;}
.article img { max-width:100%; height:auto;}
.atcile-top { margin: 0 10px; border-bottom: 1px solid #eceef0; padding: 15px 0; }
.atcile-top h1 { font-size: 22px; line-height: 27px; text-align: left; font-weight: 700; color: #000; font-size: 20px; padding: 0 0 10px 0;}
.atd { margin: 20px auto; margin-bottom:0; }
.atd a { display: block; }
.atd a:hover { text-decoration: none; }
.atd td { padding: 10px; text-align: center; vertical-align: bottom; }
.atd .atdc { position: relative; margin: 0 auto 10px; width: 20px; height: 50px; }
.atdc div { position: absolute; left: 0; bottom: 0; width: 20px; text-align: left; }
.atd .ac1 { background: #C30; }
.atd .ac2 { background: #0C0; }
.atd .ac3 { background: #F90; }
.atd .ac4 { background: #06F; }
.firstatcile .author { line-height: 12px; height: 12px; overflow: hidden;}
.firstatcile .author a { color: #3e86ce;}
form .tedt { position: relative;}
form .tedt .warn-box { left: 80px; position: absolute; top: 20px; }
.head { width: 100%; height: 32px; line-height: 32px; border-top: 2px solid #4998e7; border-bottom: 1px solid #e8e8e8; }
.head h2 { font-size: 1em; color: #317ecb; font-weight: normal; padding-left: 10px; }
.comments .content, .related .content { padding: 0 10px; }
.commentlist li { padding: 10px 0; border-bottom: 1px solid #eaeaea; border-top: 1px solid #fff; }
.commentlist .meta { font-size: 0.9375em; color: #a8abaf; text-align: left; font-weight: 400; padding: 3px 0; }
.commentlist .meta time { float: right; }
.commentlist .content { color: #454545; line-height: 1.375em; font-size: 16px; padding: 5px 0 10px; word-wrap: break-word; }
.commentform { padding: 10px; }
#commenttexts { -webkit-appearance: none; min-height: 100px }
.commentsub { text-align: right; padding: 5px 0 0; height: 30px; line-height: 30px; }
.loginsubmit, .logoutsubmit { float: left; display: none; font-size: 0.9375em; color: #317ecb; font-style: normal; }
.more { height: 33px; line-height: 33px; margin: 0 8px; border: 1px solid #efefef; background-color: #f6f5f5; text-align: center; margin-bottom: 15px; }
.more a { color: #b4b4b4; }
.more span { font-size: 1em; }
.more .gochannel::after { background-position: -63px 0; }
.more .gomore::after, .more .gochannel::after { content: ""; display: inline-block; width: 21px; height: 21px; vertical-align: -5px; margin-left: 5px; }
.view-btn { margin: 20px 0; text-align: center; }
.comment-ad { margin-top: 10px; }
.comment-ad img{ width: 100%;}
.view_focus { display: block; }
.view_focus img { width: 100%; }

