/*post*/
.light_media_bar { display: inline-block}
.ue_revision .light_media_bar { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; display: block; -webkit-tap-highlight-color: transparent; line-height: 45px}
.light_media_bar>div { position: relative; display: inline-block}
.light_media_bar a { display: inline-block; -webkit-background-size: 35px auto; padding: 15px 15px; margin-left: 3px; background-image: url(http://tb2.bdstatic.com/tb/mobile/spostor/img/spostor_icon_860260fd.png); background-repeat: no-repeat; position: relative}
.media_bar_btn_text { display: none}
.ue_revision .light_media_bar a { height: 35px; width: 35px; padding: 0; margin-left: 15px; vertical-align: middle; background-size: 70px auto; background-image: url(http://tb2.bdstatic.com/tb/mobile/spostor/img/light_media_bar_btns_0208fb9e.png)}
.light_media_bar .interest_smiley_btn { background-position: 0 -180px}
.light_media_bar .interest_smiley_btn_disabled { background-position: 0 -210px}
.ue_revision .light_media_bar .interest_smiley_btn { background-position: 0 -96px}
.ue_revision .light_media_bar .interest_smiley_btn_disabled { background-position: -32px -96px}
.light_media_bar .smile_enable { background-position: 0 0}
.light_media_bar .smile_disable { background-position: 0 -30px}
.ue_revision .light_media_bar .smile_enable { background-position: 0 -35px}
.ue_revision .light_media_bar .smile_disable { background-position: -36px -35px}
.light_media_bar .voice_btn_enabled { background-position: 0 -300px}
.light_media_bar .voice_btn_disabled { background-position: 0 -300px}
.ue_revision .light_media_bar .voice_btn_enabled { background-position: 0 0}
.ue_revision .light_media_bar .voice_btn_disabled { background-position: -36px 0}
.light_media_bar .upload-block.enable { background-position: 0 -61px}
.light_media_bar .upload-block.disable { background-position: 0 -90px}
.ue_revision .light_media_bar .upload-block.enable { background-position: 0 -105px}
.ue_revision .light_media_bar .upload-block.disable { background-position: -36px -105px}
.light_media_bar .upload-block.multi { background: url(http://tb2.bdstatic.com/tb/mobile/spostor/img/upload_multi_button_f42b1a7b.png) no-repeat 7px 6px; -webkit-background-size: 23px 50px; margin-left: 4px}
.light_media_bar .upload-block.multi.disable { background-position: 9px -22px}
.ue_revision .light_media_bar .upload-block.multi { background-size: 70px auto; background-image: url(http://tb2.bdstatic.com/tb/mobile/spostor/img/light_media_bar_btns_0208fb9e.png); margin-left: 15px; background-position: 0 -70px}
.ue_revision .light_media_bar .upload-block.multi.disable { background-position: -36px -70px}
.light_media_bar .at_btn_enabled { background-position: 0 -239px}
.light_media_bar .at_btn_disabled { background-position: 0 -270px}
.ue_revision .light_media_bar .at_btn_enabled { background-position: 0 -140px}
.ue_revision .light_media_bar .at_btn_disabled { background-position: -36px -140px}
.media_bar { display: inline-block}
.ue_revision .media_bar { display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; margin: 0 -3px; line-height: 0; -webkit-tap-highlight-color: transparent}
.media_bar>div { position: relative; display: inline-block; float: left;}
.ue_revision .media_bar>div { vertical-align: middle}
.media_bar a { display: inline-block; -webkit-background-size: 30px auto; padding: 15px 15px; margin-left: 3px}
.media_bar_btn_text { display: none}
.ue_revision .media_bar a { height: 32px; width: 32px; padding: 0}
.media_bar a { background-image: url(http://tb2.bdstatic.com/tb/mobile/spostor/img/spostor_icon_860260fd.png); background-repeat: no-repeat}
.ue_revision .media_bar a { background-size: 64px auto; margin: 0 3px; border: 1px solid transparent; border-radius: 2px; background-image: url(http://tb2.bdstatic.com/tb/mobile/spostor/img/spostor_icon_revision_aea540e9.png)}
.ue_revision .media_bar a:active, .ue_revision .media_bar a.active { border-color: #e7e8e9; background-position-x: -32px; background-color: #f2f3f4}
.media_bar .interest_smiley_btn { background-position: 0 -180px}
.media_bar .interest_smiley_btn_disabled { background-position: 0 -210px}
.ue_revision .media_bar .interest_smiley_btn { background-position: 0 -96px}
.ue_revision .media_bar .interest_smiley_btn_disabled { background-position: -32px -96px}
.media_bar .smile_enable { background-position: 0 0}
.media_bar .smile_disable { background-position: 0 -30px}
.ue_revision .media_bar .smile_enable { background-position: 0 -64px}
.ue_revision .media_bar .smile_disable { background-position: -32px -64px}
.media_bar .voice_btn_enabled { background-position: 0 -300px}
.media_bar .voice_btn_disabled { background-position: 0 -300px}
.ue_revision .media_bar .voice_btn_enabled { background-position: 0 -160px}
.ue_revision .media_bar .voice_btn_disabled { background-position: -32px -160px}
.media_bar .upload-block.enable { background-position: 0 -61px}
.media_bar .upload-block.disable { background-position: 0 -90px}
.ue_revision .media_bar .upload-block.enable { background-position: 0 -32px}
.ue_revision .media_bar .upload-block.disable { background-position: -32px -32px}
.upload-block.multi { background: url(http://tb2.bdstatic.com/tb/mobile/spostor/img/upload_multi_button_f42b1a7b.png) no-repeat 7px 6px; -webkit-background-size: 23px 50px; margin-left: 4px}
.media_bar .upload-block.multi.disable { background-position: 9px -22px}
.ue_revision .media_bar .upload-block.multi { background-position: 0 0}
.ue_revision .media_bar .upload-block.multi.disable { background-position: -32px 0}
.media_bar .at_btn_enabled { background-position: 0 -239px}
.media_bar .at_btn_disabled { background-position: 0 -270px}
.ue_revision .media_bar .at_btn_enabled { background-position: 0 -128px}
.ue_revision .media_bar .at_btn_disabled { background-position: -32px -128px}
.editor { padding: 10px}
.editor_input { white-space: pre-wrap; word-wrap: break-word; -webkit-appearance: none; -webkit-border-radius: 3px; width: 100%; padding: 10px; -webkit-box-sizing: border-box; display: block; font-size: 14px; border: 1px solid #c6c6c6; font-weight: 600; color: #999; box-shadow: 0 0 5px #dfdfdf inset; background: #fbfbfb; }
.ue_revision .editor { margin: 8px 0; padding: 0 10px 6px}
.ue_revision .editor_input { font-size: 16px; color: #333; border-radius: 0; box-shadow: none; border-color: #dedede; padding: 10px 8px; line-height: 16px; background: #fff; font-weight: normal; border-radius: 2px;}
.editor_input:disabled { background-color: #e5e5e5}
.post_tip { color: red}
.post_tip, .no_un_tip { margin: 5px 0; display: none}
.editor_title { margin: 0 0 -1px}
.editor_content_panel { position: relative}
.ue_revision .editor_content { padding-bottom: 24px; min-height: 100px;}
.lay_hide { position: relative}
.lay_top { position: absolute; z-index: 100; text-align: center; top: 50%; width: 100%; margin-top: -16px}
.editor_login_btn { padding: 0 10px; font-size: 12px; color: white; border: 1px solid #4ab33f; background-color: #75d557; display: inline-block; line-height: 30px}
.ue_revision .editor_login_btn { border: 0; border-radius: 2px; background: #2677db; font-size: 14px; line-height: 32px; padding: 0 14px}
.editor_bottom_panel { margin-top: 6px}
.submit_btn_panel { display: inline-block}
.ue_revision .submit_btn_panel { display: block}
.editor_btn_list { display: -webkit-box; display: -webkit-flex; display: flex}
.editor .submit_btn { padding: 0 10px; line-height: 30px; display: inline-block; border-radius: 5px}
.editor .submit_enable_empty { border: 1px solid #1e84db; background: #2d90e4; color: #fff; box-shadow: 0 0 3px #bfc2c6}
.editor .submit_disable { border: 1px solid #dcdcdc; background: #eee; color: #9d9d9d}
.editor .submit_enable { border: 1px solid #007bd1; background: #0081dc -webkit-gradient(linear, 0 0, 0 100%, from(#159bf8), to(#0081dc)); color: #fff}
.ue_revision .editor .submit_btn { border-radius: 2px; line-height: 34px; height: 34px;}
.ue_revision .editor .submit_enable { border: 0; background: #2677db -webkit-gradient(linear, 0 0, 0 100%, from(#2b83ef), to(#2677db))}
.ue_revision .editor .submit_enable:active { background: #2677db -webkit-gradient(linear, 0 0, 0 100%, from(#2677db), to(#2b83ef))}
.ue_revision .editor .submit_enable_empty { border: 0; background: #2b83ef; box-shadow: none}
.ue_revision .editor .submit_disable { border: 0; background: #eee; color: #9d9d9d}

/*append*/
.smiletoggle {display: none;}
blockquote { margin-bottom: 20px;}
.posp { position:relative;}
.posp span{ position:absolute; left:10px; top:10px; color:#999 }
.posp input { padding-left:40px; width:218px;}
.module form { padding: 0; border:none;}
.module form#postform { padding: 10px 0;}

#e_image_menu { padding:0 12px; width:276px;}
#e_image_menu button { margin:0 !important;}
.module #e_image_menu p { padding:0;}
.module p#imguploadbtn, .module p#imguploading { padding:5px 0 12px 0;}
.atnu { width:10px;}
.attc { width:24px;}
.upbk { position:relative;}
.notice { font-size:11px; position:absolute; right:15px; top:12px;}

.upload-block input { height: 30px; width: 30px; padding: 0; margin: 0; border: none; opacity: 0;}
.triangle-up { width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #f8f8f8; position: absolute; top:-9px; }
#fastsmiliesdiv_data { margin-top: 10px; position: relative;}
#fastsmiliesdiv_data .triangle-up{ left:8px; }
#fastsmilies { background: #F8F8F8; padding: 3px 0 5px 8px;}
#fastsmilies li {float: left; padding:0 8px 5px 0;}

.content_upload { margin-bottom: 10px; position: relative; height: 100px; }
.upload-block { position: absolute; top: 0; left: 0; display: block; height: 98px; width: 78px; border:1px dashed #DEDEDE; border-radius: 2px; background:#F8F8F8 url(../img/forum/upload_plus.png?3) no-repeat center center; background-size: 80px 100px; }
.upload-block:active { background-color: #EEE;}
.upload-block input { display: block; height: 100px; width: 80px; border: none; opacity: 0; }
#fastuploaddiv_data { position: relative; margin-left: 90px; overflow: hidden; height: 100px;}
#fastuploaddiv_data .fastuploaddiv_div { position: relative; overflow-y: hidden; overflow-x: scroll; height: 140px;}
#fastuploaddiv_data .fastuploaddiv_div ul { position: absolute; left: 0; white-space: nowrap;}
#imglist li{ height: 100px; margin-right: 10px; border-radius: 2px; position: relative; display: inline-block;}
#imglist li:last-child { margin-right: 0;}
#imglist li .del { height: 20px; width: 20px; position: absolute; right: 5px; top: 5px;}
#imglist li .del a { height: 20px; width: 20px; line-height: 18px; text-align: center; display: block; border-radius: 50%; background: #ff0000; color: #fff;}
#imglist li .p_img img { height: 100px; border-radius: 2px;}

